<mat-card>
  <mat-card-title>Reset Password</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (submit)="onSubmit()">
      <p>
        <mat-form-field>
          <input
            type="email"
            matInput
            placeholder="Email"
            formControlName="email"
          />
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <button class="submit" type="submit" mat-raised-button color="primary">
        Submit
      </button>

      <div>
        <p>
          Go back to<a
            class="signup"
            mat-button
            color="accent"
            [routerLink]="['/sign-in']"
            >Login</a
          >
        </p>
      </div>
    </form>
  </mat-card-content>
</mat-card>
