<app-main-nav>
  <mat-card>
    <mat-card-title>Itinerary</mat-card-title>
    <mat-card-content>
      <div class="contactDiv">
        <p>
          <mat-icon>perm_contact_calendar</mat-icon
          ><strong> Contact Person:</strong> {{ (booking | async)?.contactName }}
        </p>
        <p>
          <mat-icon>assistant</mat-icon><strong> Package:</strong> {{ (booking | async)?.package }}
        </p>
      </div>

      <mat-accordion multi="true">
        <form [formGroup]="form">
          <div
            formArrayName="services"
            *ngFor="let service of services; index as i"
          >
            <mat-expansion-panel [formGroupName]="i">
              <!-- Header -->
              <mat-expansion-panel-header class="header">
                <mat-panel-title>
                  {{ getDate(service.date) }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ service.serviceCaption }}
                </mat-panel-description>
              </mat-expansion-panel-header>

              <!-- Date Picker -->
              <mat-form-field class="datePicker">
                <input
                  matInput
                  #input
                  [matDatepicker]="picker"
                  formControlName="datePicker"
                  placeholder="Choose a date*"
                  (focus)="picker.open()"
                />
                <mat-error *ngIf="serviceFormArray.controls[i].get('datePicker').invalid">Please enter a valid date.</mat-error>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                  class="datePickerIcon"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #picker
                  (closed)="input.blur()"
                ></mat-datepicker>
              </mat-form-field>

              <!-- Service Caption -->
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  formControlName="serviceCaption"
                  placeholder="Service caption*"
                />
                <mat-error *ngIf="serviceFormArray.controls[i].get('serviceCaption').invalid">Please enter a valid service caption.</mat-error>
              </mat-form-field>

              <!-- Destination -->
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  formControlName="destination"
                  placeholder="Destination*"
                />
                <mat-error *ngIf="serviceFormArray.controls[i].get('destination').invalid">Please enter a valid destination.</mat-error>
              </mat-form-field>

              <!-- Activity -->
              <mat-form-field>
                <textarea
                  matInput
                  type="text"
                  formControlName="activity"
                  placeholder="Activity*"
                >
                </textarea>
                <mat-error *ngIf="serviceFormArray.controls[i].get('activity').invalid">Please enter a valid activity.</mat-error>
              </mat-form-field>

              <!-- Accommodations -->
              <mat-form-field>
                <input type="text" placeholder="Accommodations" aria-label="Number" matInput formControlName="accommodations" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions[i] | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>


              <!-- Room Type -->
              <mat-form-field>
                <input type="text" matInput formControlName="roomType" placeholder="Room type*">
              </mat-form-field>

              <!-- Meal Plan -->
              <div class="meals">
                <mat-slide-toggle>Breakfast</mat-slide-toggle>
                <mat-slide-toggle>Lunch</mat-slide-toggle>
                <mat-slide-toggle>Dinner</mat-slide-toggle>
              </div>

              <mat-action-row>
                <button mat-raised-button type="button" class="deleteButton" color="warn" (click)="onDeleteService(service.id, i)">Delete</button>
                <span class="spacer"></span>
                <button mat-raised-button type="button" class="saveButton" color="primary" (click)="onSaveService(service.id, i)" [disabled]="serviceFormArray.controls[i].invalid">Save</button>
              </mat-action-row>
            </mat-expansion-panel>
          </div>
          <button mat-raised-button type="button" class="addServiceButton" color="accent" (click)="onAddService()" >
            Add New Service
          </button>
        </form>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</app-main-nav>
