.main-card {
  width: 80%;
  box-shadow: 2px 1px 5px rgba(0,0,0,0.5);
  padding: 2rem;
  margin: 3rem auto 35rem auto;
}

mat-card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

mat-card-title {
  width: 100%;
  display: flex;
  justify-content: center;
}

mat-form-field {
  width: 100%;
}

mat-expansion-panel {
  /* border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: black; */
  margin-top: 1.2rem;
}

.mat-expansion-panel.mat-expanded {
  border-left: 1rem solid #3F51B5;
}

/* .mat-expansion-panel.mat-expanded .mat-expansion-panel-header {
  background: lightpink !important;
} */

.mat-expansion-panel-header:not(.mat-expanded):hover {
  background: rgba(63, 81, 181, 0.54) !important;
  /* border-left: 1rem solid #3F51B5; */
}



.addServiceButton {
  margin-top: 3rem;
  float: right;
}


.spacer {
  flex: 1 1 auto;
}

.meals {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.meals mat-slide-toggle {
  display: table-cell;
  text-align: center;
}

.printButton {
  float: right;
}

