<app-main-nav>
  <mat-card>
    <mat-card-title>Search Passenger</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field>
          <input
            matInput
            type="text"
            (ngModelChange)="filterPassenger()"
            formControlName="passengerName"
            placeholder="Passenger Name*"
          />
          <mat-error *ngIf="form.get('passengerName').invalid"
            >Please enter a valid passenger name.</mat-error
          >
        </mat-form-field>

        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <div class="buttonsContainer">
          <button
            class="clear"
            mat-raised-button
            color="primary"
            type="button"
            (click)="onClearForm()"
          >
            Clear
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="result-card">
    <mat-card-title>Search Results</mat-card-title>

    <mat-card-content>
      <mat-accordion *ngIf="filteredPassBook?.length > 0">
        <mat-expansion-panel *ngFor="let p of filteredPassBook">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>directions_walk</mat-icon> &nbsp;&nbsp; &nbsp;&nbsp;
              <p>{{ p.passenger.passengerName }}</p>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div>
            <p><strong>Package: </strong>{{ p.booking.package }}</p>
            <p><strong>Contact name: </strong>{{ p.booking.contactName }}</p>
          </div>

          <!-- <mat-action-row>
            <a
              mat-button
              color="primary"
              [routerLink]="['/dashboard/edit-vendor', p.id]"
              >Edit Passenger</a
            >
          </mat-action-row> -->
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</app-main-nav>
