<mat-card>
  <mat-card-title>Thank You for Registring</mat-card-title>
  <mat-card-content>
    <div>
      <mat-label>
        We have sent a confirmation email to <strong>{{ email }}</strong
        >.
      </mat-label>
      <mat-label>
        Please check your email and click on the link to verfiy your email
        address.
      </mat-label>

      <button
        class="resend"
        type="submit"
        mat-raised-button
        color="primary"
        (click)="onResend()"
      >
        Resend Verification Email
      </button>

      <mat-label>
        Go back to<a
          class="signup"
          mat-button
          color="accent"
          [routerLink]="['/sign-in']"
          >Login</a
        >
      </mat-label>
    </div>
  </mat-card-content>
</mat-card>
